[submodule "submodules/glm"]
	path = submodules/glm
	url = git@github.com:g-truc/glm.git
	shallow = true
[submodule "submodules/assimp"]
	path = submodules/assimp
	url = git@github.com:assimp/assimp.git
	shallow = true
